{
    "openapi": "3.0.3",
    "info": {
        "title": "LeadGenius Pro Agent API",
        "description": "RESTful API for AI agents to manage ABM campaigns and lead lifecycle in LeadGenius Pro",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://last.leadgenius.app/api/agent",
            "description": "Production Agent API"
        },
        {
            "url": "/api/agent",
            "description": "Relative Path"
        }
    ],
    "paths": {
        "/campaigns": {
            "get": {
                "summary": "List campaigns",
                "description": "Retrieves a paginated list of ABM campaigns associated with your company.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "active",
                                "paused",
                                "completed",
                                "archived"
                            ]
                        }
                    },
                    {
                        "name": "campaignType",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "abm",
                                "demand_gen",
                                "nurture"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginatied list of campaigns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedCampaigns"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create campaign",
                "description": "Launches a new ABM initiative. Note: Always associate with a client_id for dashboard visibility.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCampaignInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Campaign created successfully"
                    }
                }
            }
        },
        "/leads": {
            "get": {
                "summary": "List leads",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "campaignId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "summary": "Create lead",
                "description": "Creates a single lead. CRITICAL: Include firstName, lastName, fullName, and contactName for UI visibility. Use client_id for dashboard categorization.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLeadInput"
                            }
                        }
                    }
                }
            }
        },
        "/leads/batch": {
            "post": {
                "summary": "Batch create leads",
                "description": "Create up to 100 leads in a single call. Same visibility rules apply as single lead creation.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "leads": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/CreateLeadInput"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateCampaignInput": {
                "type": "object",
                "required": [
                    "name",
                    "campaignType"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "campaignType": {
                        "type": "string",
                        "enum": [
                            "abm",
                            "demand_gen",
                            "nurture"
                        ]
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "active"
                        ]
                    },
                    "client_id": {
                        "type": "string",
                        "description": "Descriptive client identifier (e.g. client_acme_corp)"
                    }
                }
            },
            "CreateLeadInput": {
                "type": "object",
                "required": [
                    "firstName",
                    "lastName",
                    "email"
                ],
                "properties": {
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "fullName": {
                        "type": "string",
                        "description": "Highly recommended for UI visibility"
                    },
                    "contactName": {
                        "type": "string",
                        "description": "Highly recommended for UI visibility"
                    },
                    "email": {
                        "type": "string"
                    },
                    "companyName": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "campaignId": {
                        "type": "string"
                    },
                    "client_id": {
                        "type": "string",
                        "description": "Maps to the workspace client"
                    },
                    "notes": {
                        "type": "string"
                    }
                }
            },
            "PaginatedCampaigns": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Campaign"
                        }
                    },
                    "pagination": {
                        "type": "object",
                        "properties": {
                            "totalItems": {
                                "type": "integer"
                            },
                            "totalPages": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "Campaign": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "campaignType": {
                        "type": "string"
                    },
                    "client_id": {
                        "type": "string"
                    },
                    "company_id": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ]
}